# Serverless directories
.serverless
package-lock.json

# golang output binary directory
bin

# local creds and stuff
.env
aws.env
*.aes
config.json
config.whd.json
config.google.json

# dev tools metadata
.idea/
node_modules/
.vscode

lambda-example/go.mod
